<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/recipes"></ion-back-button>
        </ion-buttons>
        <ion-title>{{loadedRecipe.title}}</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="deleteRecipe()">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col>
                <ion-img style="height: 33vh;" [src]='loadedRecipe.imageUrl'></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h1 class="ion-text-center">{{loadedRecipe.title}}</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item *ngFor="let ing of loadedRecipe.inggredients ">{{ing}}</ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>